---
import {Icon} from 'astro-icon/components'
---

<section>
  <div class="mx-auto max-w-screen-xl relative px-12">
    <blockquote
      class="flex cursor-auto flex-col py-[calc(4vmin+2em)] font-semibold"
      id="quote-block">
      <p class="relative pb-4 ftext-4xl" id="quote-text">Loading quote...</p>
      <footer class="mt-4 block max-w-[70%] pb-12 not-italic">
        <span class="mb-1 block text-2xl" id="quote-author">Loading author...</span>
      </footer>
    </blockquote>
  </div>
</section>

<style>
  @media (max-width: 480px) {
    blockquote p::after {
      position: absolute;
      right: 0rem;
    }
  }
  @media (min-width: 481px) {
    blockquote p::after {
      position: relative;
      left: -1rem;
      top: 3.5rem;
    }
  }
  blockquote {
    --calc: clamp(2.125rem, 1.538rem + 2.9348vw, 3.8125rem);
    margin-top: calc(var(--calc) * 3);
    margin-bottom: calc(var(--calc) * 1);
  }

  blockquote p {
    position: relative;
  }

  blockquote p::before,
  blockquote p::after {
    content: '';
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: var(--calc);
    height: calc(var(--calc) * 0.75741);
    aspect-ratio: 200/150;
    mask-image: url('../icons/quotes.svg'); /* Correct use of mask-image */
    mask-size: cover;
    display: inline-block;
    position: absolute;
    background-color: currentColor; /* Use current text color for masking */
  }

  blockquote p::before {
    top: calc(var(--calc) * -1);
    left: -2rem;
  }

  blockquote p::after {
    bottom: calc(var(--calc) * -1);
    transform: rotate(180deg);
  }

  @media (max-width: 480px) {
    blockquote p::after {
      position: absolute;
      right: 0rem;
    }
  }

  @media (min-width: 481px) {
    blockquote p::after {
      position: relative;
      left: -1rem;
      top: 3.5rem;
    }
  }
</style>

<script defer>
  document.addEventListener('DOMContentLoaded', async () => {
    const quotes = [
      {quote: 'The only way to do great work is to love what you do.', author: 'Steve Jobs'},
      {
        quote: "In three words I can sum up everything I've learned about life: it goes on.",
        author: 'Robert Frost',
      },
      {
        quote:
          'Success is not final, failure is not fatal: It is the courage to continue that counts.',
        author: 'Winston Churchill',
      },
      {quote: "It's kind of fun to do the impossible.", author: 'Walt Disney'},
      {
        quote: 'All we have to decide is what to do with the time that is given to us.',
        author: 'J.R.R. Tolkien',
      },
      {quote: 'Imagination is the only weapon against reality.', author: 'Lewis Carroll'},
      {
        quote:
          "You can't go back and change the beginning, but you can start where you are and change the ending.",
        author: 'C. S. Lewis',
      },
      {
        quote: 'The only way the magic works is by hard work. But hard work can be fun.',
        author: 'Jim Hanson',
      },
      {
        quote: 'Someday you will be old enough to start reading fairy tales again.',
        author: 'C. S. Lewis',
      },
      {
        quote: 'If you don’t know where you’re going, any road will take you there.',
        author: 'Lewis Carroll',
      },
      {quote: 'A goal without a plan is just a wish.', author: 'Antoine de Saint-Exupéry'},
      {
        quote: "Experience is not what happens to you; it's what you do with what happens to you.",
        author: 'Aldous Huxley',
      },
      {
        quote: "If the path before you is clear, you're probably on someone else's.",
        author: 'Joseph Campbell',
      },
    ]

    // Pick a random quote
    const randomIndex = Math.floor(Math.random() * quotes.length)
    const randomQuote = quotes[randomIndex]

    // Update the quote container
    document.getElementById('quote-text').innerHTML = randomQuote.quote
    document.getElementById('quote-author').innerHTML = randomQuote.author
  })
</script>
